@media (max-width: 1130px) {
  html {
    font-size: 59%;
  }
  .text h3 {
    font-size: 4.2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 58%;
  }

  .text {
    gap: 2rem;
  }

  .text h3 {
    font-size: 4rem;
  }

  .grid-img {
    height: 100%;
  }

  .second {
    padding: 5rem 10rem;
  }

  .second h3 {
    font-size: 2.4rem;
  }

  .second p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .testi-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 913px) {
}

@media (max-width: 768px) {
  html {
    font-size: 56%;
  }

  .hamburger {
    display: block;
  }
  nav .wrapper {
    display: none;
  }

  .text {
    gap: 1.4rem;
  }

  .text h3 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .text a {
    font-size: 1.8rem;
  }

  .second {
    gap: 2rem;
    padding: 3rem 8rem;
  }

  .second h3 {
    font-size: 2.3rem;
  }

  .second p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .testimonials {
    gap: 5rem;
  }

  .testimonials h2 {
    padding-top: 12rem;
  }

  .testi-job {
    padding-bottom: 12rem;
  }

  .testiwrap {
    padding: 0rem 12rem;
    gap: 4rem;
  }

  .testi-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 412px) {
  .alter:nth-child(2) {
    grid-row-start: 1;
  }

  .grid-6 {
    grid-template-columns: 1fr !important;
  }

  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 4rem;
  }

  .graphicd,
  .photo {
    height: 100vw;
  }

  .grid-img {
    width: 100vw;
  }

  .pictures-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials h2 {
    text-align: center;
  }

  .profile img {
    margin-bottom: 2rem;
  }

  .testi-text {
    padding-bottom: 2rem;
  }

  .testi-job {
    padding-bottom: 4rem;
  }

  .testiwrap {
    flex-direction: column;
    padding: 0rem 2rem;
  }

  /*arrangement du footer*/
  .footwrap {
    font-size: 1.6rem;
    gap: 3rem;
  }

  .officer {
    margin-bottom: 8rem;
  }

  .text {
    padding: 3rem 0rem;
  }

  .second {
    padding: 3rem 6rem;
  }

  .second h3 {
    font-size: 2.3rem;
  }

  .second p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
